

// this file contains all elements styles, such as button, link, icons, ...
.icon, svg{
    fill: $black;
    width: 24px;
    height: 24px;
    padding: gap(1);
    @include onclickScaleDownEffect;
}
a{
    text-decoration: none;
    color: $primary-color;

    &:hover{
        text-decoration: underline;
    }
}

.btn{
    padding: gap(1.5) gap(4);
    border-radius: gap(4);
    background: $primary-color;
    color: $white;
    font-weight: $font-medium;
    margin: gap(3) auto;
    font-size: 1.2em;
    border: none;
    text-align: center;
    display: table;
    outline: none;
    cursor: pointer;
    @include onclickBtnEffect;
    &:hover{
        background: darken($primary-color,10%);
    }

}





.heading{
    font-size: 1.8em;
    text-align: center;
    margin: gap(5) 0;
    &:before{
        content: "";
        width: 18px;
        height: 18px;
        /* background: red; */
        display: inline-block;
        background-size: 18px 18px;
        background-image: url(/resources/images/stars.svg);
        background-repeat: no-repeat;
        margin: 0 gap(1);
    }
    &:after{
        content: "";
        width: 18px;
        height: 18px;
        margin: 0 gap(1);
        /* background: red; */
        display: inline-block;
        background-size: 18px 18px;
        transform: scale(-1,-1);
        background-image: url(/resources/images/stars.svg);
        background-repeat: no-repeat;
    }


    @media  (min-width: 319px){
        font-size: 2.2em;
    }
    @media  (min-width: 631px){
        font-size: 3em;
        &:before{
            width: 30px;
            height: 30px;
            background-size: 30px 30px;
        }
        &:after{
            width: 30px;
            height: 30px;
            background-size: 30px 30px;
        }
    }

}









.pagination{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;


    a{
        width: 24px;
        height: 24px;
        display: block;
        padding:  gap(2);
        margin: gap(1);
        border: 2px solid $grey;
        border-radius: 50%;
        font-size: 1.2em;
        text-align: center;
        color: $grey;
        font-weight: bold;
        opacity: 0.7;

        &.active{
            background: $grey;
            border: none;
            color: $white;
        }


        &:hover{
            text-decoration: none;
            background: $primary-color-dark;
            border-color: $primary-color-dark;
            color: $white;
        }
    }

}





